/* This is a header */

#wrapper {
    width: 80%;
    margin: 0 auto; 
  }
  
  #logo-img {
    display: inline-block;
    margin: 10px 15px 15px 10px;
    width: 250px;
    height: 100px;
    float: left; /* float logo to the left */
  }
  
  #header {
    margin-top: 40px;
    display: flex; /* use display flex to align items horizontally */
    justify-content: space-between; /* space items to both ends */
    align-items: center;
  }





  
  
  #topnav {
    display: inline-block;
    float: right; /* float navigation to the right */
  }
  
  #topnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #topnav li {
    display: inline-block;
  }
  
  #topnav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  #topnav a:hover {
    background-color: #f2f2f2;
  }
  #topnav a.active {
  background-color: #2196F3;
  color: white;
}

  